<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ArdaQBWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <ArdaQBWS.Properties.Settings>
      <setting name="dbhostaddress" serializeAs="String">
        <value>54.69.168.210</value>
      </setting>
      <setting name="dbhostport" serializeAs="String">
        <value>27017</value>
      </setting>
      <setting name="dbcatalogname" serializeAs="String">
        <value>arda</value>
      </setting>
      <setting name="dbhostconnecttimeout" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="appusername" serializeAs="String">
        <value>u_appman</value>
      </setting>
      <setting name="appuserpassword" serializeAs="String">
        <value>roG/PwGt2FHeh89PBg1lzA==</value>
      </setting>
      <setting name="wsauthpassword" serializeAs="String">
        <value>SkRRu7y5JSzPJ6mcyUxi1Q==</value>
      </setting>
    </ArdaQBWS.Properties.Settings>
  </applicationSettings>
</configuration>